# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
./frontend/.idea
./backend/dpfsd/.idea
./backend/.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/

# My Specific Files
backend/docker/postgres/data
backend/src/main/resources/application-dev.properties
secure-backend/docker/postgres/data
secure-backend/src/main/resources/application-dev.properties
